.home {
  background: #2c2c2c;
  padding-top: 20px;
  position: relative;
  border-radius: 0 0 30px 30px;
  margin-bottom: -25px; }
  @media (max-width: 991.98px) {
    .home {
      border-radius: 0;
      margin-bottom: 0;
      padding-bottom: 40px; } }
  .home__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 680px; }
    @media (max-width: 991.98px) {
      .home__container {
        display: block; } }
    @media (max-width: 767.98px) {
      .home__container {
        min-height: 100px; } }
  .home__carousel-item {
    position: relative; }
  .home__block {
    -ms-flex-item-align: center;
        align-self: center;
    color: #fff;
    max-width: 380px;
    padding-right: 25px; }
    @media (max-width: 991.98px) {
      .home__block {
        margin-bottom: 55px; } }
  .home__title {
    font-size: 64px;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 30px; }
    @media (max-width: 991.98px) {
      .home__title {
        font-size: 48px; } }
  .home__description {
    font-size: 18px;
    margin-bottom: 80px; }
    @media (max-width: 991.98px) {
      .home__description {
        margin-bottom: 35px; } }
  .home__carousel {
    max-width: 680px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 30px 0 30px 0;
    overflow: hidden; }
    @media (max-width: 1199.98px) {
      .home__carousel {
        max-width: 460px; } }
    @media (max-width: 991.98px) {
      .home__carousel {
        position: relative; } }
    .home__carousel .owl-stage {
      line-height: 0; }
    .home__carousel div.owl-nav {
      position: absolute;
      bottom: 60px;
      left: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 72px; }
      @media (max-width: 991.98px) {
        .home__carousel div.owl-nav {
          left: 10px;
          bottom: 40px; } }
      .home__carousel div.owl-nav button.owl-prev,
      .home__carousel div.owl-nav button.owl-next {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #fff;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        position: relative;
        color: #253757; }
        .home__carousel div.owl-nav button.owl-prev:before,
        .home__carousel div.owl-nav button.owl-next:before {
          display: block;
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0; }
        .home__carousel div.owl-nav button.owl-prev span,
        .home__carousel div.owl-nav button.owl-next span {
          font-size: 0; }
      .home__carousel div.owl-nav .owl-next:before {
        content: url(../images/slider/arrow-right.svg); }
      .home__carousel div.owl-nav .owl-prev:before {
        content: url(../images/slider/arrow-left.svg); }
  .home__info {
    position: absolute;
    bottom: 45px;
    z-index: 1;
    left: 0;
    padding-left: 150px;
    line-height: 1.3;
    color: #fff; }
    @media (max-width: 991.98px) {
      .home__info {
        padding-right: 15px;
        padding-left: 100px;
        bottom: 20px; } }
  .home__carousel-title {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin-bottom: 7px; }
  .home__img {
    border-radius: 30px 0 30px 0;
    overflow: hidden;
    display: block; }
    @media (max-width: 991.98px) {
      .home__img {
        max-height: 400px; } }
    @media (max-width: 1199.98px) {
      .home__img img {
        max-width: 100%;
        -o-object-fit: contain;
           object-fit: contain; } }
  .home__desc {
    max-width: 264px; }

/*# sourceMappingURL=home.css.map */
