.service {
  position: relative;
  z-index: 1; }
  .service__title {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 24px; }
    @media (max-width: 991.98px) {
      .service__title {
        font-size: 28px; } }
  .service__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 750px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 991.98px) {
      .service__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px; } }
  .service__desc {
    margin-bottom: 5px; }
  .service__content {
    -ms-flex-item-align: center;
        align-self: center;
    max-width: 360px; }
    @media (max-width: 991.98px) {
      .service__content {
        margin-bottom: 30px; } }
  .service__p {
    margin-top: 15px; }
  .service__items {
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 264px);
    margin-bottom: -92px;
    grid-gap: 30px; }
    @media (max-width: 991.98px) {
      .service__items {
        -ms-flex-item-align: center;
            align-self: center; } }
    @media (max-width: 767.98px) {
      .service__items {
        margin-bottom: 0;
        display: block; } }
  .service__item {
    border-radius: 16px;
    height: 264px;
    padding: 30px;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767.98px) {
      .service__item {
        margin-bottom: 30px; } }
    .service__item:first-child {
      margin-top: 120px; }
      @media (max-width: 767.98px) {
        .service__item:first-child {
          margin-top: 0; } }
    .service__item:last-child {
      margin-top: -120px; }
      @media (max-width: 767.98px) {
        .service__item:last-child {
          margin-top: 0; } }
  .service__count {
    font-size: 13px;
    height: 24px;
    line-height: 26px;
    width: 46px;
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 25px;
    color: #2060f6;
    background: rgba(32, 96, 246, 0.1);
    border-radius: 23px; }
  .service__icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    z-index: 1; }
    .service__icon:before {
      content: "";
      background: url(../images/icon/arrow.svg) no-repeat 50% 50%;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 48px;
      display: block;
      height: 48px; }
    .service__icon:after {
      content: "";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #2060f6;
      position: absolute;
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
  .service__link {
    color: #334563;
    font-size: 15px;
    line-height: 48px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Poppins", sans-serif; }
    .service__link:hover .service__icon:after {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

/*# sourceMappingURL=service.css.map */
